#content-wrap {
  position: relative;
  overflow: hidden;
}
@media (max-width: 750px) {
  #content-wrap {
    top: -1.15rem;
    position: absolute;
  }
  .footer {
    bottom: 0;
    position: absolute;
    left: 0;
    height: 2.9rem;
    padding-top: .4rem;
  }
  .footer ul::before {
    display: none;
  }
  .footer ul li {
    line-height: 0.72rem;
  }
  .footer .img-link {
    padding: 0;
  }
}
